nav ul li a{
    text-decoration:none;
    margin:10;
    color:black;
    font-size:large;
 }
body{
background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(8, 7, 7, 0.75)),to(rgba(0,0,0,0.5))),url(1.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
padding-top:5px
}
.head{
   font-size:45px;
   color:white;
   padding-top:150px;
   text-align:center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}